#colorbar{
	height: 25px;
}
#colorbar div{
	display: inline-block;
	width: 25px;
	height: 25px;
	outline: 1px rgba(200,200,200,1) solid;

	opacity: 0;
}

#msg-box{
	height: 1em;
	padding: 1.5em 0 ;
}

#giveup{
	margin: 20px 0;
}