<!DOCTYPE html>
<html>
<head>
	<title>Numbers Game</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
			//console.log('nbins', {{nbins}});
			//console.log('guesses', {{guesses | safe}});
			
			var nums = {{binnums | safe}};
			for(var j=0; j<nums.length; j++){
				$('#colorbar').append('<div num='+nums[j]+'></div>');
			}
			var guessbar = {{guessbar | safe}}
			for(var j in guessbar){
				$('#colorbar div[num='+j+']').css('background-color', guessbar[j]);
			}

			/* # todo: tool tips on hover
			$('#colorbar div').hover(function(){
				
			})*/

		})

	</script>
</head>
<body>
	<main>
		<h1>I'm thinking of a number...</h1>
		<form action="/check" method='post'>
			<input type="number" name='guess' min="0" max="100" required>
			<input type="submit" value="Check">
		</form>

		<section id="msg-box">
			<span id="msg">{{msg}}</span>
		</section>
		
		<section id="colorbar">
		</section>

		<form action="/reveal" method='POST'>
			<input type="hidden" name="giveup">
			<input type="submit" value="I give up, tell me!">
		</form>
		
		
		
	</main>
</body>
</html>